html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Created by Sεηιrυ ραsαη */

body {
  margin: 0px;
  background-image: url("https://www.gamerevolution.com/assets/uploads/2016/03/file_12298_stardew-valley-hidden-secrets-greenhouse.png");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-width: fit-content;
}

.container {
  width: 100%;
}

.normalview {
  border: 1px solid rgba(226, 226, 226, 0);
  padding: 0px;
  margin: 0px;
  max-height: 33px !important;
  width: 33px;
  height: 33px !important;
  display: inline-block;
  overflow: hidden;
}

button {
  background-color: rgb(10, 140, 10);
  color: white;
  border: 0px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  margin: 1px;
}

.gridview {
  border: 1px solid rgba(40, 100, 250, 0.8);
  padding: 0px;
  margin: 0px;
  max-height: 33px !important;
  width: 33px;
  height: 33px !important;
  display: inline-block;
  overflow: hidden;
}

input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  outline: none;
  font-weight: bold;
  border: 0px;
}

header {
  text-align: center;
  background-color: rgb(30, 180, 50);
  padding: 3px;
  width: 100%;
  height: 50px;
}

#plot {
  width: 100%;
  height: 70px;
  text-align: center;
  border-radius: 30%;
  border: none;
  background-color: rgb(220, 20, 80);
  color: white;
  font-weight: bold;
  z-index: 200;
  top: -6px;
  position: relative;
  outline: none;
}

body>#shadow {
  width: 70px;
  height: 70px;
  border-radius: 30%;
  border: none;
  background-color: rgba(20, 20, 20, 0.3);
  z-index: 199;
  bottom: 50px;
  right: 50px;
  position: fixed;
}

#plot:active {
  top: 0px;
}

.field {
  top: 0px !important;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  background-color: #770000;
  z-index: 10;
  display: inline-block;
  position: relative;
  border: 1px solid black;
  font-size: 25px;
  padding: 0px;
  margin: 0px;
}

.inventory {
  display: none;
  top: 50px;
  left: 30px;
  width: 80%;
  height: 400px;
  background-color: rgba(30, 200, 10, 0.9);
  position: fixed;
  text-align: center;
  border-radius: 4%;
  border: 2px solid green;
  overflow: scroll;
}

.shop {
  display: none;
  top: 50px;
  left: 30px;
  width: 80%;
  height: 400px;
  background-color: rgba(30, 200, 10, 0.9);
  position: fixed;
  text-align: left;
  border-radius: 4%;
  border: 2px solid green;
  overflow: scroll;
}

.doneBtn {
  display: block;
  text-align: center;
  left: -200px;
  bottom: 30px;
  width: 128px;
  height: 128px;
  background-image: url("http://icons.iconarchive.com/icons/paomedia/small-n-flat/128/sign-check-icon.png");
  background-repeat: no-repeat;
  position: fixed;
  color: white;
  z-index: 50;
  border: 0px;
  outline: none;
  background-color: rgba(225, 225, 225, 0);
}

.doneBtn:active {
  width: 120px;
  height: 123px;
  outline: none;
}

.fields {
  top: 65px;
}

h1 {
  text-align: center;
}

#menu {
  z-index: 68;
  top: -20px;
  left: 10px;
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  border: 0px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  outline: none;
}

#menu:active {
  top: -17px;
  background-color: rgb(10, 100, 10);
  outline: none;
}

ul {
  z-index: 200;
  position: fixed;
  top: -10px;
  left: -400px;
  background-color: rgba(10, 110, 10, 0.7);
  width: 100%;
  height: 100%;
  display: none;
}

li {
  list-style-type: none;
  position: relative;
  background-color: rgba(10, 100, 10, 0.7);
  width: 100%;
  margin: 3px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  height: 25px;
}

li:hover {
  background-color: rgba(10, 100, 10, 1);
}

.close {
  float: right;
  right: 20px;
  background-color: red;
  z-index: 900;
}

article {
  display: none;
  top: 50px;
  left: 30px;
  width: 80%;
  height: 400px;
  background-color: rgba(30, 200, 10, 0.9);
  position: fixed;
  text-align: center;
  border-radius: 4%;
  border: 2px solid green;
  overflow: scroll;
  z-index: 300;
}

#cropmenu>h4, #cropmenu>p {
  float: left;
  display: inline;
}

em {
  float: left;
  font-weight: bold;
}

.tab {
  border: 0px;
  height: 20px;
  background-color: rgb(100, 100, 100);
  font-size: 15px;
  outline: none;
}

.tab:hover {
  background-color: rgb(80, 80, 80);
  outline: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cell {
  flex: 0 0 32%;
  margin-bottom: 5px;
  height: 150px;
  width: 150px;
}

.cell:nth-child(5) {
  background-color: transparent;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
}

.modal .modal-box {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  border: 2px solid #000000;
  border-radius: 16px;
  padding: 16px;
  background-color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
}

.modal .modal-box .modal-header {
  font-weight: 500;
  font-size: 18px;
}

.modal .modal-box .modal-content {
  font-size: 14px;
  text-align: center;
}

.modal .modal-box .modal-footer .confirm {
  display: flex;
}

#gamearea {
  z-index: 10;
  display: block;
  margin: 2rem auto;
  width: 500px;
}

@media all and (max-width: 988px) {
  #gamearea {
    margin: 3rem 25%;
  }
}

@media all and (max-width: 750px) {
  #gamearea {
    margin: 3rem 15%;
  }
}

@media all and (max-width: 500px) {
  #gamearea {
    margin: 7rem 5%;
  }
}